
*{
    padding: 0;
    margin: 0;
    border: 0;
    cursor: default;
    font-family: 'Roboto', 'Droid Sans', arial, sans-serif;
}

:focus
{
    outline: none;
    border: none;
}

html
{
    height: 100%;
}

.noselect
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently
                           not supported by any browser */
}

body
{
    background: #e8e8e8;
}

.b
{
    font-weight: bold;
}

.header
{
    height: 47px;
    background: #337AB7;
}

.header span
{
    font-size: 20px;
}

#menu-button
{
    float: left;
    height: 100%;
    width: 50px;
    padding: 12px 15px;
}

nav
{
    display: none;
    position: absolute;
    width: 250px;
    background: white;
    height: 100%;
}

nav li:hover
{
    background: #e8e8e8;
}

#notes
{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    float: left;
}

.note
{
    width: 315px;
    margin: 0;
    float: left;
    border-radius: 2px;
}

#newnote
{
    position: relative;
    margin: 32px auto 16px auto;
    width: 600px;
}

#notename
{
    position: relative;
    width: 100%;
    min-height: 38px;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
}

#plh1
{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    color: #757575;
    height: 38px;
    padding: 15px 15px 0 15px;
    font-size: 17px;
    line-height: 23px;
    font-weight: bold;
}

#notenamewr
{
    position: relative;
    width: 100%;
    min-height: 38px;
    padding: 15px 15px 0 15px;
    font-size: 17px;
    line-height: 23px;
    font-weight: bold;
    overflow: visible;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-user-modify: read-write;
    -webkit-line-break: after-white-space;
}

#notetext
{
    position: relative;
    width: 100%;
    min-height: 46px;
    overflow-x: hidden;
    overflow-y: auto;
}

#plh2
{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    color: #757575;
    height: 46px;
    padding: 15px 15px 12px 15px;
    font-size: 15px;
    line-height: 19px;;
}

#notetextwr
{
    position: relative;
    min-height: 46px;
    padding: 15px 15px 12px 15px;
    font-size: 15px;
    width: 100%;
    line-height: 19px;
    overflow: visible;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-user-modify: read-write;
    -webkit-line-break: after-white-space;
}

#notemenu
{
    position: relative;
    display: none;
    width: 100%;
    height: 45px;
}

.notebar
{
    float: left;
    font-size: 12px;
    line-height: 33px;
    height: 45px;
    width: 45px;
    text-align: center;
    color: #555555;
}

#done
{
    float: right;
    margin-right: 10px;
}

#notetextwr:hover, #notenamewr:hover
{
    cursor: text;
}


.ui-selectable-helper
{
    background: #9a9a9a;
    border: 1px solid #6f6f6f;
    opacity: .3;
    position: absolute;
}

.ui-selecting
{
    box-shadow: 0 0 0 4px #6f6f6f;
}

.ui-selected
{
    box-shadow: 0 0 0 4px #6f6f6f;
}

.signgroup
{
    padding: 30px;
    text-align: center;
    width: 392px;
    margin: 150px auto;
    box-shadow: 0 1px 2px 1px;
    box-sizing: border-box;
}

#register
{
    height: 424px;
}

.signgroup div
{
    margin: 20px auto 0;
}

.signbutton
{
    margin-top: 15px;
}

#login
{
    margin-top: 150px;
    height: 400px;
}

.invisible
{
    visibility: hidden;
}

.alert
{
    margin: 0;
    height: 40px;
}

#login div
{
    margin: 40px auto;
}

.notelabel
{
    font-weight: 600;
    font-size: 17px;
    margin: 15px 15px 0;
}

.noteIcons
{
    margin: 5px;
    float: right;
}

#button-group
{
    margin: 0 auto;
    width: 110px;
    font-size: 24px;
    position: relative;
}

#button-group>div
{
    float:left;
    margin: 0 5px;
    padding: 12px 10px;
}

#color-picker-button
{
}


#color-picker
{
    top: 40px;
    left: -44px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: visibility 0s ease .218s, opacity .218s linear;
    transition: visibility 0s ease .218s, opacity .218s linear;
    padding: 5px 7px 3px;
    position: absolute;
    width: 136px;
    background-color: white;
    z-index: 10000;
    display: none;
}

#color-picker div
{
    float: left;
    border: rgb(224, 224, 224) solid 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    margin: 2px;
    transition: border linear .218s;
}

#color-picker div:hover
{
    border: black solid 1px;
}

#color-picker div .glyphicon
{
    font-size: 15px;
    height: 26px;
    width: 26px;
    padding: 4px 4px;
}

.red
{
    background-color: #FF8A80;
}

.blue
{
    background-color: #80D8FF;
}

.orange
{
    background-color: #FFD180;
}

.white
{
    background-color: #ffffff;
}

.grey
{
    background-color: #CFD8DC;
}

.teal
{
    background-color: #A7FFEB;
}

.green
{
    background-color: #CCFF90;
}

.yellow
{
    background-color: #FFFF8D;
}